body {
    background-color:#111;
    color: #ddd;
}

.name {font-weight: bold;}
#chat-list li {list-style-type: none;padding-bottom: 0.5em;}
#chat-list li:nth-child(even) {background-color:#252525;}


#chat-list
{
  padding-left: 0px;
  padding-bottom: 1em;
  font-family: sans-serif;
  overflow: hidden;
  color: white;
  list-style-type: none;

  height: calc(100vh + 1000px);
  margin-top: calc(-1000px - 3em);
  width: calc(100vw - 1em);

  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

ul > :first-child
{
  margin-top: auto;
}

a {
	color: #fff;
}
